<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Museum Navigator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <div class="app">
    <h1>Museum Navigator</h1>
    <div id="roomInfo">Klicke auf einen Raum…</div>
    <div id="museum"></div>
    <div id="info"></div>
    
    <div id="infoBox">
      <div class="playerIcon"></div>
      <span class="infoText">me</span>
    </div>
  </div>

  <script src="/javascripts/map.js"></script>
</body>
</html>
