/* Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* App-Wrapper */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

h1 {
  margin: 0;
}

/* Museum Grid */
#museum {
  display: grid;
  gap: 0;
  padding: 0;
  background: none;
  position: relative; /* wichtig für Player */
}

/* Räume */
.cell {
  background: white;
  position: relative;
}

/* Wände */
.wall {
  background: black;
  width: 100%;
  height: 100%;
}

/* Spieler */
.player {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
}

/* Info */
#roomInfo {
  background: white;
  padding: 10px 15px;
  border-radius: 6px;
  min-width: 200px;
  text-align: center;
  font-weight: bold;
}
